<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Russo+One&family=Saira+Stencil+One&family=Ubuntu+Condensed&family=Unica+One&display=swap"
      rel="stylesheet"
    />

    <!-- AOS  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/admin/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
      </style>

    <title>Admin Dashboard</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <div class="sidebar col-md-3 shadow-lg">
          <h2 class="mb-4 text-secondary" style="font-family: 'Saira Stencil One', sans-serif;">ADMIN DASHBOARD</h2>
          <!-- <a href="#" class="list-group-item list-group-item-action">Profile</a> -->
          <a href="/admin/dashboard" class=" list-group-item-action"
            ><i
              class="bi bi-person fs-3 me-3"
              style="vertical-align: middle"
            ></i
            >Users</a
          >
          <a href="/admin/dashboard/publisher" class="list-group-item-action"
            ><i
              class="bi bi-pencil-square fs-3 me-3"
              style="vertical-align: middle"
            ></i
            >Publishers</a
          >
          <a href="/admin/dashboard/verifier" class=" list-group-item-action"
            ><i
              class="bi bi-check-circle fs-3 me-3"
              style="vertical-align: middle"
            ></i
            >Verifier</a
          >
          <a href="/admin/dashboard/post" class=" list-group-item-action"
            ><i class="bi bi-send fs-3 me-3" style="vertical-align: middle"></i
            >Post</a
          >
          <a href="/admin/dashboard/community" class=" list-group-item-action"
            ><i
              class="bi bi-building fs-3 me-3"
              style="vertical-align: middle"
            ></i
            >Community</a
          >
          <a href="/admin/dashboard/logout" class="list-group-item-action"
            ><i
              class="bi bi-box-arrow-left fs-3 me-3"
              style="vertical-align: middle"
            ></i
            >Logout</a
          >
        </div>
        <nav
          class="nav2 navbar navbar-expand-lg bg bg-light shadow-sm bg-body-tertiary"
        >
          <div class="container-fluid">
            <h5 class="text-secondary" style="font-family: 'Saira Stencil One', sans-serif;">ADMIN DASHBOARD</h5>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="bi bi-list text-dark fs-1"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav mt-3">
                <a href="/admin/dashboard" class="list-group-item-action text-decoration-none"
                  ><i
                    class="bi bi-person fs-3 me-3"
                    style="vertical-align: middle;"
                  ></i
                  >Users</a
                >
                <a href="/admin/dashboard/publisher" class="list-group-item-action text-decoration-none"
                  ><i
                    class="bi bi-pencil-square fs-3 me-3"
                    style="vertical-align: middle"
                  ></i
                  >Publishers</a
                >
                <a href="/admin/dashboard/verifier" class="list-group-item-action text-decoration-none"
                  ><i
                    class="bi bi-check-circle fs-3 me-3"
                    style="vertical-align: middle"
                  ></i
                  >Verifier</a
                >
                <a href="/admin/dashboard/post" class="list-group-item-action text-decoration-none"
                  ><i
                    class="bi bi-send fs-3 me-3"
                    style="vertical-align: middle"
                  ></i
                  >Post</a
                >
                <a href="/admin/dashboard/community" class="list-group-item-action text-decoration-none"
                  ><i
                    class="bi bi-building fs-3 me-3"
                    style="vertical-align: middle"
                  ></i
                  >Community</a
                >
                <a href="/admin/dashboard/logout" class=" list-group-item-action text-decoration-none"
                  ><i
                    class="bi bi-box-arrow-left fs-3 me-3"
                    style="vertical-align: middle"
                  ></i
                  >Logout</a
                >
              </ul>
            </div>
          </div>
        </nav>

        <!-- Content -->
        <div class="content col-md-9 table-responsive">
          <!-- Table -->
          <table class="table table-bordered caption-top">
           

            <% if (users.length==0) { %>
             <h2 class="text-center text-secondary">No Users</h2>
            <% }else{ %>
              <caption>
                List of Users
              </caption>
              <thead class="thead-dark">
                <tr>
                  <th class="text-dark">SlNo.</th>
                  <th class="text-dark">Name</th>
                  <th class="text-dark">UserName</th>
                  <th class="text-dark">Email</th>
                  <th class="text-dark">Role</th>
                  <th class="text-dark">Place</th>
                  <th class="text-dark">Action</th>
                </tr>
              </thead>
  
              <tbody>
                <% for( let i = 0; i < users.length; i++ ) { %>
                
                
                <tr>
                  <td><%= i+1 %></td>
                  <td><%= users[i].dataValues.name %></td>
                  <td><%= users[i].dataValues.username %></td>
                  <td><%= users[i].dataValues.email %></td>
                  <td><%= users[i].dataValues.role %></td>
                  <td><%= users[i].dataValues.place %></td>
                  <td>
                    <center>
                    <a href="/admin/dashboard/user/delete/<%= users[i].dataValues.id %>" class="btn btn-danger"><i class="bi bi-trash me-2"></i>Delete</a>
                  </center>
                  </td>
                </tr>
                <% } %>
              
                <!-- Add more rows as needed -->
              </tbody>
              <% } %>

           
          </table>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
