<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Russo+One&family=Saira+Stencil+One&family=Ubuntu+Condensed&family=Unica+One&display=swap"
      rel="stylesheet"
    />

    <!-- AOS  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/user/profile.css" />

    <title>Profile</title>
  </head>
  <body>
    <div class="container">
      <div
        class="profile-container px-5 py-5"
        data-aos="zoom-in"
        data-aos-duration="1000"
      >
        <center>
          <div class="profile-pic">
            <img src="/images/avatar2.png" alt="Profile Picture" />
          </div>
          <h2 class="title">Your Profile</h2>
        </center>

        <div class="form">
          <form id="signupForm" action="profile" method="post">
            <div class="form-group">
              <label for="email-address">Name</label>
              <input
                type="text"
                id="name"
                name="name"
                value="<%= profile.name %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="email-address">Email address</label>
              <input
                type="email"
                id="email"
                name="email"
                value="<%= profile.email %>"
                readonly
                required
                pattern="[^\s@]+@[^\s@]+\.[^\s@]+"
              />
            </div>
            <div class="form-group">
              <label for="email-address">Role</label>
              <input
                type="text"
                id="role"
                name="role"
                value="<%= profile.role %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="email-address">Place</label><br />
              <select
                class="input-field"
                id="state"
                name="place"
                value="<%= profile.place %>"
                type="text"
                placeholder="Enter Place"
                required
              >
              <option value="Thiruvananthapuram" <%=profile.place==='Thiruvananthapuram' ? 'selected' : '' %>>Thiruvananthapuram</option>
              <option value="Kollam" <%=profile.place==='Kollam' ? 'selected' : '' %>>Kollam</option>
              <option value="Alappuzha" <%=profile.place==='Alappuzha' ? 'selected' : '' %>>Alappuzha</option>
              <option value="Pathanamthitta" <%=profile.place==='Pathanamthitta' ? 'selected' : '' %>>Pathanamthitta</option>
              <option value="Kottayam" <%=profile.place==='Kottayam' ? 'selected' : '' %>>Kottayam</option>
              <option value="Idukki" <%=profile.place==='Idukki' ? 'selected' : '' %>>Idukki</option>
              <option value="Ernakulam" <%=profile.place==='Ernakulam' ? 'selected' : '' %>>Ernakulam</option>
              <option value="Thrissur" <%=profile.place==='Thrissur' ? 'selected' : '' %>>Thrissur</option>
              <option value="Palakkad" <%=profile.place==='Palakkad' ? 'selected' : '' %>>Palakkad</option>
              <option value="Malappuram" <%=profile.place==='Malappuram' ? 'selected' : '' %>>Malappuram</option>
              <option value="Kozhikode" <%=profile.place==='Kozhikode' ? 'selected' : '' %>>Kozhikode</option>
              <option value="Wayanad" <%=profile.place==='Wayanad' ? 'selected' : '' %>>Wayanad</option>
              <option value=" Kannur" <%=profile.place===' Kannur' ? 'selected' : '' %>> Kannur</option>
              <option value="Kasaragod" <%=profile.place==='Kasaragod' ? 'selected' : '' %>>Kasaragod</option>
              </select>
            </div>

            <button class="btn" id="btn" type="submit">Update Account</button>
          </form>
        </div>
      </div>
     
      <div class="post-container">
        <div class="header">
          <h2 class="fw-bold">Saved Posts</h2>
        </div>

        <div class="container" style="overflow-x: hidden">
          <% if (post.length==0) { %>
          <h2 class="text-center text-secondary">No Saved Post</h2>
          <% }else{ %>
          <div class="row">
            <% for( let i = 0; i < post.length; i++ ) { %>

            <div class="col-md-6 col-xl-4 col-lg-4">
              <div
                class="card mb-5 rounded"
                data-aos="fade-left"
                data-aos-easing="linear"
                data-aos-duration="1000"
              >
                <a
                  href="/user/<%= profile.id %>/dashboard/post/<%= post[i].dataValues.id %>"
                >
                  <img
                    src="<%= post[i].dataValues.banner %>"
                    style="position: relative"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
                <a
                  href="/user/<%= profile.id %>/dashboard/remove/<%= post[i].dataValues.id %>"
                  class="bi bi-trash fs-3 text-secondary px-2 bg bg-light rounded-circle"
                  style="position: absolute; top: 10px; right: 20px"
                ></a>

                <div class="card-body">
                  <div
                    class="mb-3"
                    style="
                      display: flex;
                      justify-content: flex-start;
                      flex-wrap: wrap;
                      gap: 10px;
                    "
                  >
                    <% if (post[i].dataValues.fee == 'Free') { %>
                    <span class="me-2 badge bg text-light bg-success"
                      ><%= post[i].dataValues.fee%></span
                    >
                    <% }else{ %>
                    <span class="me-2 badge bg text-light bg-danger"
                      ><%= post[i].dataValues.fee%></span
                    >
                    <% } %> <% if (post[i].dataValues.mode == 'Online') { %>
                    <span class="me-2 badge bg text-light bg-primary"
                      ><%= post[i].dataValues.mode%></span
                    >
                    <% }else{ %>
                    <span class="me-2 badge bg text-light bg-secondary"
                      ><%= post[i].dataValues.mode%></span
                    >
                    <% } %> <% if (post[i].dataValues.type == 'Hackathons') { %>
                    <span
                      class="me-2 badge bg text-light bg-info"
                      style="background-color: bisque"
                      ><%= post[i].dataValues.type%></span
                    >
                    <% }else if(post[i].dataValues.type == 'Conferences'){ %>
                    <span class="me-2 badge bg text-light bg-warning"
                      ><%= post[i].dataValues.type%></span
                    >
                    <% }else if(post[i].dataValues.type == 'Meetups'){ %>
                    <span class="me-2 badge bg text-light bg-dark"
                      ><%= post[i].dataValues.type%></span
                    >
                    <% }else if(post[i].dataValues.type == 'Webinars'){ %>
                    <span
                      class="me-2 badge"
                      style="background-color: rgb(255, 0, 247)"
                      ><%= post[i].dataValues.type%></span
                    >
                    <% }else{ %>
                    <span
                      class="me-2 badge text-light"
                      style="background-color: rgb(255, 140, 0)"
                      ><%= post[i].dataValues.type%></span
                    >
                    <% } %>
                    <span
                      class="badge badge-primary"
                      style="background-color: #b4e063"
                      ><%=post[i].dataValues.community %></span
                    >
                  </div>
                  <div class="card-head p-2">
                    <h5 class="card-title fw-bold">
                      <%= post[i].dataValues.name %>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
