<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Russo+One&family=Saira+Stencil+One&family=Ubuntu+Condensed&family=Unica+One&display=swap"
      rel="stylesheet"
    />

    <!-- AOS  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/user/viewPost.css" />

    <title>Notification</title>
  </head>
  <body>
    <div class="container mt-5">
      <div
        class="row bg bg-light p-3 rounded shadow-lg"
        data-aos="zoom-in"
        data-aos-duration="1000"
      >
        <div style="display: flex; justify-content: space-between">
          <a href="/user/<%= id %>/dashboard/saved/<%= post.id %>">
            <i class="bi bi-bookmark-fill text-dark fs-1 fw-bold"></i>
          </a>
          <a  href="/user/<%= id %>/dashboard" >
            <i class="bi bi-x-lg text-dark fs-1 fw-bold"></i>
          </a>
        </div>
        <div class="col-md-6">
          <a href="<%= post.banner %>" target="_blank">
            <img src="<%= post.banner %>" class="banner mt-3" alt="" />
          </a>
          <div class="detail-container">
            <center>
              <span>
                <i class="bi bi-geo-alt-fill text-danger fs-1"></i>
                <br />
                <span class="location"><%= post.state %></span></span
              >
            </center>
            <center>
              <span>
                <i
                  class="bi bi-calendar-fill fs-1"
                  style="color: rgb(210, 220, 220)"
                ></i>

                <br /><b class="date"> <%= post.date %></b></span
              >
            </center>
            <center>
              <span>
                <i class="bi bi-alarm-fill fs-1 me-2 text-secondary"></i
                ><br /><b class="date"> <%= post.time %></b></span
              >
            </center>
            <center>
              <span
                ><i class="bi bi-person-fill fs-1 me-2 text-secondary"></i
                ><br /><b class="date"> <%= post.guest %></b></span
              >
            </center>
          </div>
        </div>
        <div class="content col-md-6 mt-3">
          <b class="title fs-1"><%= post.name %></b><br />
          <div
            class="mb-3 highlight2"
            style="display: flex; justify-content: flex-start"
          >
            <% if (post.fee == 'Free') { %>
            <span class="me-2 badge bg text-light bg-success"
              ><%= post.fee%></span
            >
            <% }else{ %>
            <span class="me-2 badge bg text-light bg-danger"
              ><%= post.fee%></span
            >
            <% } %> <% if (post.mode == 'Online') { %>
            <span class="me-2 badge bg text-light bg-primary"
              ><%= post.mode%></span
            >
            <% }else{ %>
            <span class="me-2 badge bg text-light bg-secondary"
              ><%= post.mode%></span
            >
            <% } %> <% if (post.type == 'Hackathons') { %>
            <span
              class="me-2 badge bg text-light bg-info"
              style="background-color: bisque"
              ><%= post.type%></span
            >
            <% }else if(post.type == 'Conferences'){ %>
            <span class="me-2 badge bg text-light bg-warning"
              ><%= post.type%></span
            >
            <% }else if(post.type == 'Meetups'){ %>
            <span class="me-2 badge bg text-light bg-dark"
              ><%= post.type%></span
            >
            <% }else if(post.type == 'Webinars'){ %>
            <span class="me-2 badge" style="background-color: rgb(255, 0, 247)"
              ><%= post.type%></span
            >
            <% }else{ %>
            <span
              class="me-2 badge text-light"
              style="background-color: rgb(255, 140, 0)"
              ><%= post.type%></span
            >
            <% } %>
          </div>
          <!-- <b class="description">Description: </b> -->
          <p><%= post.description %></p>
         <p class="fs-4" style="vertical-align: middle;"> <i class="bi bi-telephone-fill me-1 fs-4" ></i> <%= post.contact %></p>
        </div>
        <a
          href="<%= post.link %>"
          target="_blank"
          class="btn btn-primary fs-3 fw-bold"
          >Register Now</a
        >
      </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>


