<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Russo+One&family=Saira+Stencil+One&family=Ubuntu+Condensed&family=Unica+One&display=swap"
      rel="stylesheet"
    />

    <!-- AOS  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/user/viewPost.css" />

    <title>User Dashboard</title>
  </head>
  <body>
    <div class="container mt-5">
      <div
        class="row bg bg-light p-3 rounded "
        data-aos="zoom-in"
        data-aos-duration="1000"
        style="box-shadow: 0px 0px 20px black;"
      >
        <div style="display: flex; justify-content: space-between">
          <a href="/user/<%= id %>/dashboard/saved/<%= post.id %>">
            <i class="bi bi-bookmark-fill text-dark fs-1 fw-bold"></i>
          </a>
          <a href="/user/<%= id %>/dashboard">
            <i class="bi bi-x-lg text-dark fs-1 fw-bold"></i>
          </a>
        </div>
        <div class="col-md-6">
          <a href="<%= post.banner %>" target="_blank">
            <img src="<%= post.banner %>" class="banner mt-3" alt="" />
          </a>
          <div class="detail-container">
            <center class="col-md-3 col-sm-6">
              <span>
                <i class="bi bi-geo-alt-fill text-danger fs-1"></i>
                <br />
                <span class="location"><%= post.district %></span></span
              >
            </center>
            <center class="col-md-3 col-sm-6">
              <span>
                <i
                  class="bi bi-calendar-fill fs-1"
                  style="color: rgb(210, 220, 220)"
                ></i>

                <br /><b class="date"> <%= post.date %></b></span
              >
            </center>
            <center class="col-md-3 col-sm-6">
              <span>
                <i class="bi bi-alarm-fill fs-1 me-2 text-secondary"></i
                ><br /><b class="date"> <%= post.time %></b></span
              >
            </center>
            <center class="col-md-3 col-sm-6">
              <span
                ><i class="bi bi-person-fill fs-1 me-2 text-secondary"></i
                ><br /><b class="date"> <%= post.guest %></b></span
              >
            </center>
          </div>
        </div>
        <div class="content col-md-6 mt-3">
          <b class="title fs-1"><%= post.name %></b><br />
          <div
            class="mb-3 highlight2"
            style="
              display: flex;
              justify-content: flex-start;
              flex-wrap: wrap;
              gap: 10px;
            "
          >
            <% if (post.fee == 'Free') { %>
            <span class="me-2 badge bg text-light bg-success"
              ><%= post.fee%></span
            >
            <% }else{ %>
            <span class="me-2 badge bg text-light bg-danger"
              ><%= post.fee%></span
            >
            <% } %> <% if (post.mode == 'Online') { %>
            <span class="me-2 badge bg text-light bg-primary"
              ><%= post.mode%></span
            >
            <% }else{ %>
            <span class="me-2 badge bg text-light bg-secondary"
              ><%= post.mode%></span
            >
            <% } %> <% if (post.type == 'Hackathons') { %>
            <span
              class="me-2 badge bg text-light bg-info"
              style="background-color: bisque"
              ><%= post.type%></span
            >
            <% }else if(post.type == 'Conferences'){ %>
            <span class="me-2 badge bg text-light bg-warning"
              ><%= post.type%></span
            >
            <% }else if(post.type == 'Meetups'){ %>
            <span class="me-2 badge bg text-light bg-dark"
              ><%= post.type%></span
            >
            <% }else if(post.type == 'Webinars'){ %>
            <span class="me-2 badge" style="background-color: rgb(255, 0, 247)"
              ><%= post.type%></span
            >
            <% }else{ %>
            <span
              class="me-2 badge text-light"
              style="background-color: rgb(255, 140, 0)"
              ><%= post.type%></span
            >
            <% } %>
            <% if (post.district === "Thiruvananthapuram") { %>
              <span
                class="badge badge-primary"
                style="background-color: #ff5733"
                >Thiruvananthapuram</span
              >
              <% } else if (post.district === "Kollam") { %>
              <span
                class="badge badge-primary"
                style="background-color: #ffc300"
                >Kollam</span
              >
              <% } else if (post.district === "Alappuzha") { %>
              <span
                class="badge badge-primary"
                style="background-color: #c70039"
                >Alappuzha</span
              >
              <% } else if (post.district === "Pathanamthitta") { %>
              <span
                class="badge badge-primary"
                style="background-color: #900c3f"
                >Pathanamthitta</span
              >
              <% } else if (post.district === "Kottayam") { %>
              <span
                class="badge badge-primary"
                style="background-color: #581845"
                >Kottayam</span
              >
              <% } else if (post.district === "Idukki") { %>
              <span
                class="badge badge-primary"
                style="background-color: #00a859"
                >Idukki</span
              >
              <% } else if (post.district === "Ernakulam") { %>
              <span
                class="badge badge-primary"
                style="background-color: #394240"
                >Ernakulam</span
              >
              <% } else if (post.district === "Thrissur") { %>
              <span
                class="badge badge-primary"
                style="background-color: #9c640c"
                >Thrissur</span
              >
              <% } else if (post.district === "Palakkad") { %>
              <span
                class="badge badge-primary"
                style="background-color: #00b7c2"
                >Palakkad</span
              >
              <% } else if (post.district === "Malappuram") { %>
              <span
                class="badge badge-primary"
                style="background-color: #5e3c58"
                >Malappuram</span
              >
              <% } else if (post.district === "Kozhikode") { %>
              <span
                class="badge badge-primary"
                style="background-color: #4cb7a5"
                >Kozhikode</span
              >
              <% } else if (post.district === "Wayanad") { %>
              <span
                class="badge badge-primary"
                style="background-color: #eea47f"
                >Wayanad</span
              >
              <% } else if (post.district === "Kannur") { %>
              <span
                class="badge badge-primary"
                style="background-color: #d4a5a5"
                >Kannur</span
              >
              <% } else if (post.district === "Kasaragod") { %>
              <span
                class="badge badge-primary"
                style="background-color: #423e6d"
                >Kasaragod</span
              >
              <% } else { %>
              <span
                class="badge badge-primary"
                style="background-color: #ffffff"
                >Other</span
              >
              <% } %>
            <span
              class="badge badge-primary ms-2"
              style="background-color: #b4e063"
              ><%=post.community %></span
            >
          </div>
          <!-- <b class="description">Description: </b> -->
          <p><%= post.description %></p>
          <p class="fs-4" style="vertical-align: middle">
            <i class="bi bi-telephone-fill me-1 fs-4"></i> <%= post.contact %>
          </p>
        </div>
        <a
          href="<%= post.link %>"
          target="_blank"
          class="btn btn-primary fs-3 fw-bold"
          >Register Now</a
        >


       
      </div>
      
    </div>

    <div class="container mt-5" style="overflow-x: hidden">
      <div class="row">
        <% if (similar.length ==0) { %>
        <h1>No Similar Post</h1>
        <% }else{ %> 
          <h1 class="similar-head">Similar Post</h1>
          <% for( let i = 0; i < similar.length; i++ ) { %>
         
        <div class="col-xl-4 col-md-6">
          <center>
            <div
              class="card mb-5 rounded"
              data-aos="fade-left"
              data-aos-easing="linear"
              data-aos-duration="1000"
            >
              <a
                href="/user/<%= profile.id %>/dashboard/post/<%= similar[i].dataValues.id %>"
              >
                <img
                  src="<%= similar[i].dataValues.banner %>"
                  
                  class="img card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <div
                  class="mb-3"
                  style="
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    gap: 10px;
                  "
                >
                  <% if (similar[i].dataValues.fee == 'Free') { %>
                  <span class="me-2 badge bg text-light bg-success"
                    ><%= similar[i].dataValues.fee%></span
                  >
                  <% }else{ %>
                  <span class="me-2 badge bg text-light bg-danger"
                    ><%= similar[i].dataValues.fee%></span
                  >
                  <% } %> <% if (similar[i].dataValues.mode == 'Online') { %>
                  <span class="me-2 badge bg text-light bg-primary"
                    ><%= similar[i].dataValues.mode%></span
                  >
                  <% }else{ %>
                  <span class="me-2 badge bg text-light bg-secondary"
                    ><%= similar[i].dataValues.mode%></span
                  >
                  <% } %> <% if (similar[i].dataValues.type == 'Hackathons') { %>
                  <span
                    class="me-2 badge bg text-light bg-info"
                    style="background-color: bisque"
                    ><%= similar[i].dataValues.type%></span
                  >
                  <% }else if(similar[i].dataValues.type == 'Conferences'){ %>
                  <span class="me-2 badge bg text-light bg-warning"
                    ><%= similar[i].dataValues.type%></span
                  >
                  <% }else if(similar[i].dataValues.type == 'Meetups'){ %>
                  <span class="me-2 badge bg text-light bg-dark"
                    ><%= similar[i].dataValues.type%></span
                  >
                  <% }else if(similar[i].dataValues.type == 'Webinars'){ %>
                  <span
                    class="me-2 badge"
                    style="background-color: rgb(255, 0, 247)"
                    ><%= similar[i].dataValues.type%></span
                  >
                  <% }else{ %>
                  <span
                    class="me-2 badge text-light"
                    style="background-color: rgb(255, 140, 0)"
                    ><%= similar[i].dataValues.type%></span
                  >
                  <% } %> <% if (similar[i].dataValues.district === "Thiruvananthapuram") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #ff5733"
                    >Thiruvananthapuram</span
                  >
                  <% } else if (similar[i].dataValues.district === "Kollam") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #ffc300"
                    >Kollam</span
                  >
                  <% } else if (similar[i].dataValues.district === "Alappuzha") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #c70039"
                    >Alappuzha</span
                  >
                  <% } else if (similar[i].dataValues.district === "Pathanamthitta") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #900c3f"
                    >Pathanamthitta</span
                  >
                  <% } else if (similar[i].dataValues.district === "Kottayam") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #581845"
                    >Kottayam</span
                  >
                  <% } else if (similar[i].dataValues.district === "Idukki") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #00a859"
                    >Idukki</span
                  >
                  <% } else if (similar[i].dataValues.district === "Ernakulam") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #394240"
                    >Ernakulam</span
                  >
                  <% } else if (similar[i].dataValues.district === "Thrissur") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #9c640c"
                    >Thrissur</span
                  >
                  <% } else if (similar[i].dataValues.district === "Palakkad") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #00b7c2"
                    >Palakkad</span
                  >
                  <% } else if (similar[i].dataValues.district === "Malappuram") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #5e3c58"
                    >Malappuram</span
                  >
                  <% } else if (similar[i].dataValues.district === "Kozhikode") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #4cb7a5"
                    >Kozhikode</span
                  >
                  <% } else if (similar[i].dataValues.district === "Wayanad") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #eea47f"
                    >Wayanad</span
                  >
                  <% } else if (similar[i].dataValues.district === "Kannur") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #d4a5a5"
                    >Kannur</span
                  >
                  <% } else if (similar[i].dataValues.district === "Kasaragod") { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #423e6d"
                    >Kasaragod</span
                  >
                  <% } else { %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #ffffff"
                    >Other</span
                  >
                  <% } %>
                  <span
                    class="badge badge-primary"
                    style="background-color: #000000"
                    ><%=similar[i].dataValues.date %></span
                  >
                  <span
                    class="badge badge-primary"
                    style="background-color: #b4e063"
                    ><%=similar[i].dataValues.community %></span
                  >
                </div>
                <div class="card-head p-2">
                  <h5 class="card-title fw-bold">
                    <%= similar[i].dataValues.name %>
                  </h5>
                </div>
              </div>
            </div>
          </center>
        </div>
        <% } %> <% } %>
      </div>
    </div>
   

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
