<div
  class="head-container bg bg-light shadow-sm rounded"
  data-aos="fade-down"
  data-aos-delay="100"
  data-aos-duration="1000"
>
  <header>
    <h1>TechConnect <br /><span>Hub</span></h1>
    <h4 class="text-secondary"><%= greeting %>, <%= profile.name %>!</h4>
  </header>
  <nav>
    <li class="">
      <a
        href="/user/<%= profile.id %>/dashboard"
        class="bi bi-house-fill fs-2 text-dark"
        style="vertical-align: middle"
      ></a>
    </li>
    <li class="" style="position: relative">
      <a
        href="/user/<%= profile.id %>/dashboard/notification"
        class="bi bi-bell-fill fs-2 text-dark"
        style="vertical-align: middle"
      >
      </a>
    </li>

    <li class="">
      <a
        href="/user/<%= profile.id %>/dashboard/filter"
        class="bi bi-filter fs-2 text-dark"
        style="vertical-align: middle"
      ></a>
    </li>
    <li class="">
      <a
        href="/user/<%= profile.id %>/dashboard/profile"
        class="bi bi-person-circle fs-2 text-dark"
        style="vertical-align: middle"
      ></a>
    </li>
    <li>
      <a class="btn btn-danger" href="/user/<%= profile.id %>/dashboard/logout"
        >Logout</a
      >
    </li>
  </nav>
</div>

<!-- Navbar2 -->
<nav
  class="navbar nav2 navbar-expand-lg bg bg-light bg-body-tertiary shadow-sm rounded"
  data-aos="fade-down"
  data-aos-delay="100"
  data-aos-duration="1000"
>
  <div class="container-fluid">
    <header>
      <h1>Tech Connect <br /><span>Hub</span></h1>
      <h4 class="text-secondary"><%= greeting %>, <%= profile.name %>!</h4>
    </header>
    <button
      class="navbar-toggler text-dark"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="bi bi-list"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-dark active"
            aria-current="page"
            href="/user/<%= profile.id %>/dashboard"
          >
            <i
              class="bi bi-house-fill fs-2 me-2"
              style="vertical-align: middle"
            ></i>
            Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            href="/user/<%= profile.id %>/dashboard/notification"
            ><i
              class="bi bi-bell-fill fs-2 me-2"
              style="vertical-align: middle"
            ></i
            >Notification</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            href="/user/<%= profile.id %>/dashboard/filter"
            ><i
              class="bi bi-filter fs-2 me-2"
              style="vertical-align: middle"
            ></i
            >Filter</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            href="/user/<%= profile.id %>/dashboard/profile"
            ><i
              class="bi bi-person-circle fs-2 me-2"
              style="vertical-align: middle"
            ></i
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a
            class="btn btn-danger"
            href="/user/<%= profile.id %>/dashboard/logout"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
