<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Russo+One&family=Saira+Stencil+One&family=Ubuntu+Condensed&family=Unica+One&display=swap"
      rel="stylesheet"
    />

    <!-- AOS  -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/publisher/dashboard.css" />

    <title>Publisher - Dashboard</title>
  </head>
  <body>
    <div class="grid-container">
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="sidebar-header">
          <a href="#" class="sidebar-logo">
            <span class="text-xs sm:text-sm md:text-base"
              ><img src="/images/dashboard.png" height="30" width="30" alt="" />
              DASHBOARD</span
            >
          </a>
        </div>
        <div class="sidebar-nav">
          <!-- <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></svg>
              Home
            </a> -->
          <a
            href="/publisher/<%= dashboard.dataValues.id %>/dashboard/profile"
            class="bg-gray-100"
          >
            <i class="bi bi-person-circle" style="font-size: 20px"></i>
            Profile
          </a>
          <a href="/publisher/<%= dashboard.dataValues.id %>/dashboard">
            <i class="bi bi-postcard-fill" style="font-size: 20px"></i>
            Post
            <div class="badge bg-primary"><%= events.length %></div>
          </a>
          <a href="/verifier/dashboard/community">
            <i class="bi bi-building" style="font-size: 20px"></i>
            Community
            <div class="badge bg-primary">0</div>
          </a>
          <a href="/publisher/dashboard/<%= dashboard.dataValues.id %>/logout">
            <i class="bi bi-box-arrow-left" style="font-size: 20px"></i>
            Logout
          </a>
        </div>
      </div>

      <!-- Nav2 -->

      <nav class="navbar nav2 bg-body-tertiary fixed-top bg-secondary">
        <div class="container-fluid">
          <a href="#" class="sidebar-logo">
            <span class="text-light text-xs sm:text-sm md:text-base"
              ><img src="/images/dashboard.png" height="30" width="30" alt="" />
              Publisher Dashboard</span
            >
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
          >
            <div class="offcanvas-header">
              <a href="#" class="sidebar-logo">
                <span class="text-dark text-xs sm:text-sm md:text-base"
                  ><img
                    src="/images/dashboard.png"
                    height="30"
                    width="30"
                    alt=""
                  />
                  Publisher Dashboard</span
                >
              </a>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="/verifier/dashboard"
                    >Profile</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/verifier/dashboard/community"
                    >Community</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="/publisher/dashboard/<%=dashboard.dataValues.id  %>/logout"
                    >Logout</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <!-- Main Content -->
      <div class="main-content mt-5" style="overflow: scroll">
        <div class="container mt-5">
          <h2>Recent Post</h2>
          <hr />
          <div class="table-responsive">
            <% if (events.length==0) { %>
            <h2 class="mt-5">No Post Found</h2>
            <% }else{ %>
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Banner</th>
                  <th>Type</th>
                  <th>Contact</th>
                  <th>Fee</th>
                  <th>Mode</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% for( let i = 0; i < events.length; i++ ) { %>
                <tr>
                  <td>
                    <img
                      src="<%= events[i].dataValues.banner %>"
                      height="200"
                      width="200"
                      style="object-fit: contain"
                      alt=""
                    />
                  </td>
                  <td><%= events[i].dataValues.name %></td>
                  <td><%= events[i].dataValues.contact%></td>
                  <td>
                    <% if (events[i].dataValues.fee=="Free") { %>
                    <button class="btn btn-success">
                      <%=events[i].dataValues.fee %>
                    </button>
                    <% }else{%>
                    <button class="btn btn-danger">
                      <%=events[i].dataValues.fee %>
                    </button>
                    <% } %>
                  </td>
                  <td>
                    <% if (events[i].dataValues.mode=="Online") { %>
                    <button class="btn btn-primary">
                      <%=events[i].dataValues.mode %>
                    </button>
                    <% }else{%>
                    <button class="btn btn-secondary">
                      <%=events[i].dataValues.mode %>
                    </button>
                    <% } %>
                  </td>
                  <th>
                    <center>
                      <button class="btn btn-dark text-light">
                        <a
                          href="/publisher/<%= dashboard.dataValues.id %>/dashboard/post/<%=events[i].dataValues.id  %>"
                          >View Post</a
                        >
                      </button>
                    </center>
                  </th>
                </tr>
                <% } %>
              </tbody>
            </table>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="add-container">
      <a href="/publisher/<%= dashboard.dataValues.id %>/dashboard/post/create">
        <img src="/images/plus.png" class="add" alt=""
      /></a>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
