<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Russo+One&family=Saira+Stencil+One&family=Ubuntu+Condensed&family=Unica+One&display=swap"
    rel="stylesheet" />

  <!-- AOS  -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/publisher/post.css" />

  <title>Publisher Dashboard</title>
</head>

<body>
  <div class="max-width-container" data-aos="fade-in" data-aos-duration="2000" data-aos-delay="500">
    <div class="form-header">
      <h2 class="form-title">Update Event Post</h2>
    </div>
    <form action="/publisher/<%=id1 %>/dashboard/post/<%= post.id %>/update" method="post" enctype="multipart/form-data"
      class="card-container">
      <div class="form-body">
        <div class="form-group">
          <label for="community-name">Event Name</label>
          <input class="input-field" id="community-name" type="text" value="<%= post.name %>" name="name"
            placeholder="Enter event name" required />
        </div>
        <div class="form-group">
          <label for="community-description">Short Description</label>
          <textarea class="textarea" id="community-description" placeholder="Enter your event description" required
            name="description" value="<%= post.description %>" cols="30" rows="10"><%= post.description %>
          </textarea>
        </div>
        <div class="form-group">
          <label for="mobile-number">Event Type</label>
          <select name="type" id="" class="input-field" aria-selected="<%= post.type %>" required>
            <option value="Conferences" <%=post.type==='Conferences' ? 'selected' : '' %>>Conferences</option>
            <option value="Meetups" <%=post.type==='Meetups' ? 'selected' : '' %>>Meetups</option>
            <option value="Hackathons" <%=post.type==='Hackathons' ? 'selected' : '' %>>Hackathons</option>
            <option value="Workshops" <%=post.type==='Workshops' ? 'selected' : '' %>>Workshops</option>
            <option value="Webinars" <%=post.type==='Webinars' ? 'selected' : '' %>>Webinars</option>
          </select>
        </div>
        <div class="form-group">
          <label for="mobile-number">Mode</label>
          <select name="mode" id="" class="input-field" aria-selected="<%= post.mode %>" required>
            <option value="Online" <%=post.mode==='Online' ? 'selected' : '' %>>Online</option>
            <option value="Offline" <%=post.mode==='Offline' ? 'selected' : '' %>>Offline</option>
          </select>
        </div>
        <div class="form-group">
          <label for="mobile-number">Fee</label>
          <select name="fee" id="" class="input-field" aria-selected="<%= post.fee %>" required>
            <option value="Free" <%=post.fee==='Free' ? 'selected' : '' %>>Free</option>
            <option value="Paid" <%=post.fee==='Paid' ? 'selected' : '' %>>Paid</option>
          </select>
        </div>
        <div class="form-group">
          <label for="mobile-number">Community</label>
         
            <select name="community" id="" class="input-field" required>
              <option value="No Community">No Community</option>
            <% for( let i = 0; i < community.length; i++ ) { %>
              <% if (community[i].name == post.community) { %>
                <option selected value="<%= community[i].name %>">
                  <%= community[i].name %>
                 </option>
              <% }else{ %>
                <option value="<%= community[i].name %>">
                  <%= community[i].name %>
                 </option>
                <% } %>
              
            <% } %>
            </select>
            
        
            
          </select>
          
        </div>
        <div class="form-group">
          <label for="place">Date</label>
          <input class="input-field" id="date" type="date" name="date" value="<%= post.date %>" placeholder="Enter Date"
            required />
        </div>
        <div class="form-group">
          <label for="place">Time</label>
          <input class="input-field" id="time" type="time" name="time" value="<%= post.time %>"
            placeholder="Enter place" required />
        </div>
        <div class="form-group">
          <label for="location">District</label>
          <select id="stateFilter" class="input-field" name="district">
            <option value="Thiruvananthapuram" <%=post.district==='Thiruvananthapuram' ? 'selected' : '' %>>Thiruvananthapuram</option>
            <option value="Kollam" <%=post.district==='Kollam' ? 'selected' : '' %>>Kollam</option>
            <option value="Alappuzha" <%=post.district==='Alappuzha' ? 'selected' : '' %>>Alappuzha</option>
            <option value="Pathanamthitta" <%=post.district==='Pathanamthitta' ? 'selected' : '' %>>Pathanamthitta</option>
            <option value="Kottayam" <%=post.district==='Kottayam' ? 'selected' : '' %>>Kottayam</option>
            <option value="Idukki" <%=post.district==='Idukki' ? 'selected' : '' %>>Idukki</option>
            <option value="Ernakulam" <%=post.district==='Ernakulam' ? 'selected' : '' %>>Ernakulam</option>
            <option value="Thrissur" <%=post.district==='Thrissur' ? 'selected' : '' %>>Thrissur</option>
            <option value="Palakkad" <%=post.district==='Palakkad' ? 'selected' : '' %>>Palakkad</option>
            <option value="Malappuram" <%=post.district==='Malappuram' ? 'selected' : '' %>>Malappuram</option>
            <option value="Kozhikode" <%=post.district==='Kozhikode' ? 'selected' : '' %>>Kozhikode</option>
            <option value="Wayanad" <%=post.district==='Wayanad' ? 'selected' : '' %>>Wayanad</option>
            <option value=" Kannur" <%=post.district===' Kannur' ? 'selected' : '' %>> Kannur</option>
            <option value="Kasaragod" <%=post.district==='Kasaragod' ? 'selected' : '' %>>Kasaragod</option>
  
             
          </select>
        </div>
        <div class="form-group">
          <label for="social-links">Registration Links</label>
          <input class="input-field" id="social-links" name="link" value="<%= post.link %>" type="url"
            placeholder="Enter registration links" required />
        </div>
        <div class="form-group">
          <label for="mobile-number">Contact</label>
          <input class="input-field" id="mobile-number" name="contact" value="<%= post.contact %>" type="tel"
            placeholder="Enter mobile number" required />
        </div>

        <div class="form-group">
          <label for="mobile-number">Special Guest</label>
          <input class="input-field" id="mobile-number" name="guest" value="<%= post.guest %>" type="text"
            placeholder="Enter guest name" required />
        </div>

        <div class="form-group">
          <label for="logo-upload">Banner</label>

          
          <center>
          <img src="<%= post.banner %>" style="width: 300px;object-fit: contain;margin-bottom: 20px;" alt="">
        </center>
        <input class="input-field" id="logo-upload" name="banner" type="file" />
          <!-- <input type="image" style="object-fit: contain;max-width: 200px;height: 300px;margin-top: 10px;" src=""> -->
        </div>
        <div class="form-footer">
          <button class="submit-button" type="submit">Update Post</button>
        </div>
      </div>
    </form>
  </div>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>